<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 <add name="BinZangConnectionString" connectionString="Data Source=218.60.131.41;Initial Catalog=BinZang;Persist Security Info=True;User ID=sa;Password=gidshddprh!123"
  providerName="System.Data.SqlClient" />
 <add name="BinZangConnectionString1" connectionString="Data Source=218.60.131.41;Initial Catalog=BinZang;User ID=sa;Password=gidshddprh!123"
  providerName="System.Data.SqlClient" />
</connectionStrings>
