<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BZService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="basePath" value="E:/BinZang/Backend/" />
		<add key="uploadImagePath" value="Content/upload_files/Photo/" />
		<add key="siteUrl" value="http://192.168.1.18:10240/" />
	</appSettings>


	<connectionStrings configSource="ConnStrings.config"/>


	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="None"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>


	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding transferMode="Streamed"
								 name="newtonsoftJsonBinding"
								 contentTypeMapper="BZService.Library.Json.NewtonsoftJsonContentTypeMapper, BZService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								 maxBufferSize="204822000"
								 maxReceivedMessageSize="204822000"
								 maxBufferPoolSize="204822000">
					<readerQuotas maxDepth="204822000"
								  maxStringContentLength="204822000"
								  maxBytesPerRead="204822000"
								  maxNameTableCharCount="204822000"
								  maxArrayLength="204822000"/>
				</binding>
			</webHttpBinding>
		</bindings>

		<services>
			<service behaviorConfiguration="BZService.ServiceBehavior" name="BZService.Service">
				<endpoint
					address=""
					behaviorConfiguration="newtonsoftJsonBehavior"
					binding="webHttpBinding"
					bindingConfiguration="newtonsoftJsonBinding"
					contract="BZService.IService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>

		<extensions>
			<behaviorExtensions>
				<add name="newtonJsonBehaviorExtension"
					 type="BZService.Library.Json.NewtonsoftJsonBehaviorExtension, BZService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>

		<behaviors>
			<endpointBehaviors>
				<behavior name="newtonsoftJsonBehavior">
					<webHttp defaultOutgoingResponseFormat="Json"/>
					<newtonJsonBehaviorExtension/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="BZService.ServiceBehavior">
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>


	</system.serviceModel>

	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
