<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key ="Mode" value ="Interval"/-->
    <add key ="Mode" value ="Daily"/>
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="DailyReportScheduledTime" value ="17:00"/>
    <add key ="BirthdayRemindScheduledTime" value ="05:00"/>
  </appSettings>
</configuration>